@* this is a dashboard that we see in submenu under dashboard parent *@

@model DashboardDataModel

@{
    ViewData["Title"] = Model.DashName;
    Layout = null;
}

@using DevExpress.AspNetCore
@using DevExpress.DashboardWeb
@using DevExpress.DashboardAspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - AerialView-3.0</title>
    <link rel="stylesheet" href="/fonts/remixicon.css">
    @* <link rel="stylesheet" href="/css/bootstrap.min.css" /> *@
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/css/ace/ace.bundle.css" rel="stylesheet" />
    <script src="~/js/site.min.js"></script>
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="icon" href="@Url.Content("~/33477137_AerialView-Logo-5.ico")">
</head>
<body>

    @if (Model != null && Model.DashPath != null)
    {
       @*  <div class="d-flex align-items-start justify-content-between pt-1 px-4 text-primary-emphasis" style="background-color: #E6E6E6;">
            <a title="Back" href="javascript:history.back()" class="text-decoration-none text-primary-emphasis"><i class="ri-arrow-left-s-line"></i></a>
            <h6 class="fw-bold textShadow-hover">@Model.DashName</h6>
            <a href="/Home/Index" class="text-decoration-none text-primary-emphasis" title="Home"><i class="ri-home-2-line"></i></a>
        </div> *@
        <div class="d-flex align-items-center justify-content-between pt-1 px-4  border-bottom" style="background-color: #1866B0 ;">
            <a title="Back" href="javascript:history.back()" class="text-decoration-none text-light"><i class="ri-arrow-left-s-line"></i></a>
            <h6 class="fw-medium text-white mb-0">@Model.DashName</h6>
            <a href="/Home/Index" class="text-decoration-none text-light" title="Home"><i class="ri-home-2-line"></i></a>
        </div>

        string dashPath = Model.DashPath.Substring(0, Model.DashPath.LastIndexOf("."));

        <div style="position: absolute; left:0;top:26px;right:0;bottom:0;" class="border-top">
            @(Html.DevExpress().Dashboard("clientDashboardControl")
                .ControllerName("DefaultDashboard")
                .Width("100%")
                .Height("100%")
                .WorkingMode(WorkingMode.Viewer)
                .InitialDashboardId(dashPath)
                .OnBeforeRender("onBeforeRender")
                )
        </div>

    }


    @* <script src="/js/bootstrap.bundle.min.js"></script> *@
    <script>
        var dashboardControl; 

        //refresh dashboard every 5 sec 
        function onBeforeRender() {
            // Initialize or capture the dashboard control
            dashboardControl = clientDashboardControl;
            
            setInterval(() => {
                if (dashboardControl) {
                    dashboardControl.reloadData();
                    // dashboardControl.refresh();
                    console.log("Dashboard refreshed");
                }
            }, 5000); 
        }
    </script>
</body>
</html>
