@{
    ViewData["Title"] = "Event Configuration";
}

@{
    var reports = ViewData["Reports"] as IEnumerable<final_aerialview.Models.ChildMenuModel>;
    var reportData = ViewData["ReportData"] as IEnumerable<final_aerialview.Models.LocalReportModel>;
    var configurations = ViewData["EventConfigurations"] as IEnumerable<final_aerialview.Models.EventConfigViewModel>;
}


<div class="container-fluid p-3">

    <div class="my-2 mt-1 p-1 d-flex align-items-center justify-content-between">
        <div class="fw-semibold mb-3 fs-5 text-center text-md-start">
            <i class="ri-alarm-warning-line text-danger fw-normal fs-4"></i>  Alarm Configuration
        </div>

    </div>


    <!-- Event Configuration Card -->
    <div class="card p-3 mb-3 bg-light shadow">

        <!-- Form Content -->
        <form id="eventConfigForm">
            <!-- Row 1: Connection String, Table Name and Column Name -->
            <div class="row mb-2">
                @* report name *@
                <div class="col-12 col-md-6 mb-2">
                    <label for="reportName" class="form-label fw-medium">Select Report:</label>
                    <select class="form-select form-select-sm fw-medium" id="reportName" required>
                        <option value="" selected disabled>Choose a report</option>

                        @if (reports != null && reportData != null)
                        {
                            @foreach (var report in reports)
                            {
                                @foreach (var data in reportData)
                                {
                                    //checking for the report name consistency that it exists in both tables
                                    if (report.SubChildName == data.ReportName)
                                    {
                                        <option class="fw-medium" value="@report.SubChildName" data-table-name="@report.DataTableName" data-conn-string="@report.stringName" data-rpt-id="@report.RptId">@report.SubChildName</option>
                                    }
                                }
                            }
                        }

                    </select>
                </div>

                <div class="col-12 col-md-6 mb-2">
                    <label for="columnName" class="form-label fw-medium">Column Name:</label>
                    <select class="form-select form-select-sm fw-medium" id="columnName" required>
                        <option value="" selected disabled>Select Column</option>
                    </select>
                </div>
            </div>

            <!-- Row 2: Alarm & Warning Limits -->
            <div class="row mb-2">
                <div class="col-12 col-md-3 mb-2">
                    <label for="alarmHigh" class="form-label fw-medium">Alarm(HH):</label>
                    <input type="number" class="form-control form-control-sm fw-medium" id="alarmHigh" placeholder="High alarm value" required>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <label for="warningHigh" class="form-label fw-medium">Warning(H):</label>
                    <input type="number" class="form-control form-control-sm fw-medium" id="warningHigh" placeholder="High warning value" required>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <label for="warningLow" class="form-label fw-medium">Warning(L):</label>
                    <input type="number" class="form-control form-control-sm fw-medium" id="warningLow" placeholder="Low warning value" required>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <label for="alarmLow" class="form-label fw-medium">Alarm(LL):</label>
                    <input type="number" class="form-control form-control-sm fw-medium" id="alarmLow" placeholder="Low alarm value" required>
                </div>
            </div>

            <!-- Row 3: Event Created by, Status & Multiple Emails Input for Notification -->
            <div class="row mb-2">

                <div class="col-12 col-md-8 mb-2">
                    <label for="emailInput" class="form-label fw-medium">Send Notification to Emails:</label>
                    <input type="email" class="form-control form-control-sm fw-medium" id="emailInput" placeholder="Enter multiple emails separated by commas" multiple required>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <label for="status" class="form-label fw-medium">Status:</label>
                    <div class="form-check form-switch mt-1">
                        <input class="form-check-input" type="checkbox" id="statusToggle" checked>
                        <span id="statusBadge" class=" text-primary-emphasis fw-medium">Active</span>
                    </div>
                </div>
            </div>

            <!-- hidden inputs -->
            <input type="hidden" name="subChildName" value="" id="connStringInput" />
            <input type="hidden" name="connString" value="" id="connStringInput" />
            <input type="hidden" name="tableName" value="" id="tableNameInput" />
            <input type="hidden" name="RptId" value="" id="rptIdInput" />
            <input type="hidden" name="createdAt" value="" id="createdAtInput" />
            <input type="hidden" name="updatedAt" value="" id="updatedAtInput" />

            <input type="hidden" name="id" value="" id="idInput" />

            @if (User.Identity != null)
            {
                <input type="hidden" name="createdById" id="createdById" value="@User.FindFirst("UserId")?.Value" />
                <input type="hidden" name="updateById" id="updateById" value="@User.FindFirst("UserId")?.Value" />
            }

            <div class="d-flex justify-content-center justify-content-md-start text-start">
                <div id="error-message" class=" text-danger" style="display:none; font-size: 13px;">*Please complete all required fields before saving.</div>
            </div>

            <!-- Submit Button -->
            <div class="d-flex justify-content-center justify-content-md-end text-center mt-3">
                <button id="saveConfiguration" type="submit" class="btn btn-sm fw-medium focus-ring focus-ring-primary text-white" style="background-color: #1866B0 !important">Save</button>
            </div>

        </form>
            

    </div>

    <!-- Data Table Section -->
    <div class="card p-3 mb-3 bg-light shadow">
        <div class="card-title text-center mb-3 fw-medium" style="font-size: 18px;">Existing Configurations</div>
        @if (configurations != null && configurations.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm align-middle">
                    <thead>
                        <tr class="text-center" style="font-size: 14px; ">
                            <th>Id</th>
                            <th>Report Name</th>
                            <th>Column Name</th>
                            <th>Alarm High(HH)</th>
                            <th>Warning High(H)</th>
                            <th>Warning Low(L)</th>
                            <th>Alarm Low(LL)</th>
                            <th>Last Updated Time</th>
                            <th>Last Updated By</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var config in configurations)
                        {
                            <tr class="text-center fw-medium" style="font-size: 13.5px; cursor: pointer;" onclick="eventToUpdate(@config.Id)">
                                <td>@config.Id</td>
                                <td>@config.ReportName</td>
                                <td>@config.ColumnName</td>
                                <td>@config.AlarmHigh</td>
                                <td>@config.WarningHigh</td>
                                <td>@config.WarningLow</td>
                                <td>@config.AlarmLow</td>
                                <td class="text-muted">@config.UpdatedAt</td>
                                <td class="text-muted">@config.UpdatedByName</td>
                                @if (config.Status == true)
                                {
                                    <td> <i class="ri-circle-fill text-success"></i></td>
                                }
                                else
                                {
                                    <td> <i class="ri-circle-fill text-danger"></i></td>

                                }
                                <td class="text-center align-middle">
                                    <button class="p-0 border-0 bg-transparent btn btn-sm btn-danger fs-6" aria-label="Delete" onclick="handleDeleteConfig(@config.Id)">
                                    @* <button class="p-0 border-0 bg-transparent btn btn-sm btn-danger fs-6" aria-label="Delete" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"> *@
                                        <i class="ri-delete-bin-7-line text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-primary fst-italic text-center" style="font-size: 14px;" role="alert">
                No event configuration available
            </div>
        }
    </div>
</div>

<!-- Modal for delete confirmation -->
<div class="modal fade bg-dark bg-gradient  bg-opacity-25" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-2 px-3">
                <h1 class="modal-title fs-6 text-dark" id="deleteConfirmationModalLabel">AerialView</h1>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="dashboard-content">
                <p class="fw-bold m-0 text-black"> Are you sure you want to delete this ? </p>
                <span class="text-muted" style="font-size: 14px;"> This action is permanent and cannot be undone. </span>
                <input type="hidden" id="deleteCalcFieldId" />
            </div>
            <div class="modal-footer p-1">
                <button id="deleteBtn" type="button" class="btn btn-sm bg-danger btn-sm text-white shadow-sm" onclick="handleDeleteCalcField()" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-sm bg-secondary-subtle btn-sm shadow-sm" data-bs-target="#calculatedFieldModal" data-bs-toggle="modal">No</button>
            </div>
        </div>
    </div>
</div>


<script>

    //toggling status on click
    document.getElementById("statusToggle").addEventListener("change", function () {
        var statusBadge = document.getElementById("statusBadge");
        if (this.checked) {
            statusBadge.innerHTML = "Active";
        } else {
            statusBadge.innerHTML = "Inactive";
        }
    });

    let isManualChange = false; // Flag to track manual changes to report name

    //basis on the selected report name's corresponding connection string, tablename populating column name dropdown
    $('#reportName').on('change', function () {
        
        const selectedReport = $(this).find('option:selected');
        const connString = selectedReport.data('conn-string'); // Get the connection string from data attribute
        const tableName = selectedReport.data('table-name'); // Get the table name from data attribute
        const rptId = selectedReport.data('rpt-id'); // Get the table name from data attribute

        // Update hidden inputs
        document.getElementById("connStringInput").value = connString;
        document.getElementById("tableNameInput").value = tableName;
        document.getElementById("rptIdInput").value = rptId;

        // If manual change, clear column names
        if (isManualChange) {
            $('#columnName').empty().append('<option value="" selected disabled>Select column</option>');
        }


        // AJAX call to get the column name based on the selected report
        $.ajax({
            url: '/EventConfiguration/GetColumnNames',
            type: 'GET',
            data: { connectionString: connString, tableName: tableName },
            success: function (data) {

                if (!data || data.length === 0) {
                    DevExpress.ui.notify({
                        message: "No columns found for the selected table.",
                        width: 300,
                        type: "error",
                        displayTime: 3500,
                        shading: true,
                        animation: {
                            show: { type: "fade", duration: 400, from: 0, to: 1 },
                            hide: { type: "fade", duration: 40, to: 0 }
                        }
                    }, {
                        position: "bottom center",
                        direction: "up-push"
                    });
                    return; // Early return if no columns are found
                }

                

                // Populate the column name dropdown
                if (data && data.length > 0) {
                    data.forEach(function (column) {
                        $('#columnName').append('<option class="fw-medium" value="' + column + '">' + column + '</option>');
                    });
                }
            },
            error: function () {
                DevExpress.ui.notify({
                    message: "Error fetching table names. Please try again.",
                    width: 300,
                    type: "error",
                    displayTime: 3500,
                    shading: true,
                    animation: {
                        show: { type: "fade", duration: 400, from: 0, to: 1 },
                        hide: { type: "fade", duration: 40, to: 0 }
                    }
                }, {
                    position: "bottom center",
                    direction: "up-push"
                });
                return; // Early return if no columns are found
            }
        });

        // Set the manual change flag to true
        isManualChange = true; // Set to true after the manual selection
    });

    //format current date according to requirement
    function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1; // Months are zero-based
        var year = date.getFullYear();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();

        // Pad single digits with a leading zero
        day = day < 10 ? '0' + day : day;
        month = month < 10 ? '0' + month : month;
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;

        // Return the formatted date string in "YYYY-MM-DD HH:MI:SS"
        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }

    //sending form data to backend
    document.getElementById("saveConfiguration").addEventListener('click', function (e) {
        e.preventDefault();

        //get current date time
        // var currentDateTime = new Date().toISOString();
        var currentDateTime = new Date();
        var formattedDateTime = formatDate(currentDateTime);


        // Collecting form data

        // Set createdAt and updatedAt to current date and time
        document.getElementById("createdAtInput").value = formattedDateTime;
        document.getElementById("updatedAtInput").value = formattedDateTime;

        const id = document.getElementById("idInput").value;

        const connString = document.getElementById('connStringInput').value;
        const tableName = document.getElementById('tableNameInput').value;
        const columnName = document.getElementById('columnName').value;

        // Parse integers for alarmHigh, alarmLow, rptId, createdById, updateById
        const alarmHigh = parseInt(document.getElementById('alarmHigh').value);
        const warningHigh = parseInt(document.getElementById('warningHigh').value);
        const warningLow = parseInt(document.getElementById('warningLow').value);
        const alarmLow = parseInt(document.getElementById('alarmLow').value);
        const createdAt = document.getElementById('createdAtInput').value;
        const updatedAt = document.getElementById('updatedAtInput').value;

        // Convert status to boolean
        const status = document.getElementById('statusToggle').checked;

        const rptId = parseInt(document.getElementById('rptIdInput').value);
        const createdById = parseInt(document.getElementById('createdById').value);
        const updateById = parseInt(document.getElementById('updateById').value);
        const emails = document.getElementById('emailInput').value;

        // Step 1: Check if required fields are filled
        if ( !columnName || isNaN(alarmHigh) || isNaN(warningHigh)) {
            $('#error-message').show(); // To show the message
            return; // Stop execution if fields are not filled
        } else {
            $('#error-message').hide(); // Hide the error message if fields are filled
        }

        // Creating an object to store the form data
        const formData = {
            connString,
            tableName,
            columnName,
            alarmHigh,
            warningHigh,
            warningLow,
            alarmLow,
            createdAt,
            updatedAt,
            status,
            rptId,
            createdById,
            updateById,
            emails
        };

        if (id) {
            formData.id = id;
        }

        // Log the form data to the console
        console.log(formData);

        // Send AJAX request to controller
        $.ajax({
            url: '/EventConfiguration/SaveConfiguration',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (response) {
                if (response.success) {
                    // alert('Configuration saved successfully.');
                    if (response.success) {
                        DevExpress.ui.notify({
                            message: "Configuration saved successfully",
                            width: 300,
                            type: "success",
                            displayTime: 3500,
                            shading: true,
                            animation: {
                                show: { type: "fade", duration: 400, from: 0, to: 1 },
                                hide: { type: "fade", duration: 40, to: 0 }
                            }
                        }, {
                            position: "bottom center",
                            direction: "up-push"
                        });
                    }
                    setTimeout(function () {
                        window.location.reload()
                    }, 2000)
                } else {
                    // alert('Error saving configuration: ' + response.errors.join(', '));
                    DevExpress.ui.notify({
                        message: "Error saving configuration",
                        width: 300,
                        type: "error",
                        displayTime: 3500,
                        shading: true,
                        animation: {
                            show: { type: "fade", duration: 400, from: 0, to: 1 },
                            hide: { type: "fade", duration: 40, to: 0 }
                        }
                    }, {
                        position: "bottom center",
                        direction: "up-push"
                    });
                }
            },
            error: function () {
                // alert('An error occurred while saving the configuration. Please try again.');
                DevExpress.ui.notify({
                    message: "An error occurred while saving the configuration. Please try again.",
                    width: 300,
                    type: "error",
                    displayTime: 4000,
                    shading: true,
                    animation: {
                        show: { type: "fade", duration: 400, from: 0, to: 1 },
                        hide: { type: "fade", duration: 40, to: 0 }
                    }
                }, {
                    position: "bottom center",
                    direction: "up-push"
                });
            }
        });


    });

    //function to select the table row and populate the form accordingly
    function eventToUpdate(val) {
        var id = document.getElementById("idInput").value;
        id = val;

        $.ajax({
            url: '/EventConfiguration/GetConfigurationById',
            type: 'GET', 
            data: { id: val }, // Sending the ID
            success: function (response) {
                // Handle the response data
                if (response.success) {
                    populateForm(response.data, id); // Call a function to handle the data
                } else {
                    DevExpress.ui.notify({
                        message: "Error retrieving data",
                        width: 300,
                        type: "error",
                        displayTime: 3500,
                        shading: true,
                        animation: {
                            show: { type: "fade", duration: 400, from: 0, to: 1 },
                            hide: { type: "fade", duration: 40, to: 0 }
                        }
                    }, {
                        position: "bottom center",
                        direction: "up-push"
                    });
                }
                // populateForm(response.data);
            },
            error: function () {
                alert('An error occurred while retrieving data. Please try again.');
            }
        });
    }

    //populate form on any table row click 
    function populateForm(data, id) {
        //clear form if necessary
        document.getElementById("eventConfigForm").reset();

        document.getElementById("idInput").value = id;

        data.forEach(config => {

            //need table name and connstring
            var reportNameDropdown = document.getElementById('reportName');
            reportNameDropdown.value = config.ReportName;

            var connString = document.getElementById('connStringInput').value;
            var tableName = document.getElementById('tableNameInput').value;

            connString = config.ConnString;
            tableName = config.TableName;

            // Reset the manual change flag
            isManualChange = false; // Reset before programmatic population

            // Manually trigger the change event
            $(reportNameDropdown).trigger('change');
            
            // Delay setting the columnName until the AJAX request is complete
            setTimeout(function () {
                document.getElementById('columnName').value = config.ColumnName; 
                document.getElementById('alarmHigh').value = config.AlarmHigh;
                document.getElementById('warningHigh').value = config.WarningHigh;
                document.getElementById('warningLow').value = config.WarningLow;
                document.getElementById('alarmLow').value = config.AlarmLow;
                document.getElementById('emailInput').value = config.Emails;
                document.getElementById('statusToggle').checked = config.Status;
                document.getElementById("saveConfiguration").innerHTML = 'Update';
                document.getElementById("saveConfiguration").style.backgroundColor = '#faa41b';

                //get current date & time for updated at field
                var currentDateTime = new Date();
                var formattedDateTime = formatDate(currentDateTime);

                document.getElementById('updatedAtInput').value = formattedDateTime;
                document.getElementById('updateById').value;

                document.getElementById('columnName').classList.add('populatedMark');

            }, 500)
           
        });
    }


    function handleDeleteConfig(id) {
        console.log(id)

        $.ajax({
            url: '/EventConfiguration/DeleteConfiguration',
            type: 'POST',
            data: { id: id }, // Sending the ID
            success: function (response) {
                // Handle the response data
                if (response.success) {
                    DevExpress.ui.notify({
                        message: "Calculated Field deleted successfully",
                        width: 400,
                        type: "success",
                        displayTime: 3500,
                        shading: true,
                        animation: {
                            show: { type: "fade", duration: 400, from: 0, to: 1 },
                            hide: { type: "fade", duration: 40, to: 0 }
                        }
                    }, {
                        position: "bottom center",
                        direction: "up-push"
                    });

                    setTimeout(function () {
                        window.location.reload()
                    }, 2000)

                } else {
                    DevExpress.ui.notify({
                        message: "Error saving changes",
                        width: 400,
                        type: "error",
                        displayTime: 3500,
                        shading: true,
                        animation: {
                            show: { type: "fade", duration: 400, from: 0, to: 1 },
                            hide: { type: "fade", duration: 40, to: 0 }
                        }
                    }, {
                        position: "bottom center",
                        direction: "up-push"
                    });
                }
            },
            error: function () {
                alert('An error occurred while retrieving data. Please try again.');
            }
        });
    }



</script>