@{
    ViewData["Title"] = ViewData["MenuName"];
}

@{
    var reportData = ViewData["ReportData"] as IEnumerable<final_aerialview.Models.LocalReportModel>;
    var reportType = ViewData["ReportType"] as IEnumerable<final_aerialview.Models.LocalReportModel>;
}

@{
    var TypeIcons = new Dictionary<string, string>
    {
        { "Tabular", "ri-grid-fill" },
        { "Bar-Chart", "ri-bar-chart-grouped-fill" },
        { "Live-Chart", "ri-bubble-chart-line" },
    };
}


<div class="reportConfig-nav mb-1 p-1 d-flex flex-wrap align-items-center justify-content-between h-50" style="top: 31px;">
    <div>
    <span class="badge active rounded-pill bg-dark text-light fw-normal mr-1" onclick="filterReports('All')" style="font-size: 14.5px;"><i class="ri-file-chart-2-line"></i> All</span>
    @if (reportType != null)
    {
        @foreach (var type in reportType)
        {
            string icon = TypeIcons.ContainsKey(type.ReportType) ? TypeIcons[type.ReportType] : "ri-line-chart-line";
                <span class="badge rounded-pill bg-dark text-light my-2 fw-normal mr-1" data-type="@type.ReportType" onclick="filterReports('@type.ReportType')" style="font-size: 14.5px;"> <i class="@icon"></i> @type.ReportType </span>
        }
    }
    </div>

    <form class="d-flex searchBox" role="search" style="font-size: 14px;">
        <div class="input-group rounded" style="height: 30px;">
            <span class="input-group-text border border-secondary-subtle bg-white p-1" id="search-icon" style="height: 100%;">
                <i class="ri-search-2-line"></i>
            </span>
            <input class="form-control border-start-0 border border-secondary-subtle p-1" type="search" placeholder="Search..." aria-label="Search" style="height: 100%; font-size: 14px;">
        </div>
    </form>
</div>


<div class="reportConfig d-flex justify-content-center mb-3 mt-2">
    <ul class="list-group w-100">
        @if (reportData != null)
        {
            @foreach (var reportItem in reportData)
            {
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start bg-transparent border-0 p-0 overflow-hidden">
                        <a href="@Url.Action("ReportDesigner", "Report", new { datagridRptid = reportItem.RptId })" class="text-decoration-none text-dark report-item w-100 bg-white border rounded" data-type="@reportItem.ReportType">
                            <div class=" d-flex flex-wrap justify-content-between align-items-center">
                            <div class="ms-2 me-auto" style="margin-right: 10px;">
                                <div class="fw-bold reportName fs-6 text-wrap">
                                    @reportItem.ReportName
                                </div>
                                <p class="mb-1 text-muted connName" style="font-size: 12px; margin-bottom: 0;">@reportItem.ConnName</p>
                            </div>
                            <span class="badge rounded-pill text-muted" style="font-size: 12px;">@reportItem.ReportType</span>
                            </div>
                        </a>

                </li>
            }
        }
    </ul>
</div>




<script>
    function filterReports(type) {
        var reports = document.querySelectorAll('.report-item');
        reports.forEach(function (report) {
            if (type === 'All' || report.getAttribute('data-type') === type) {
                report.style.display = '';
            } else {
                report.style.display = 'none';
            }
        });
    }

    // Function to filter reports based on search input
    function filterReportsBySearch() {
        var searchInput = document.querySelector('.searchBox input[type="search"]');
        var searchValue = searchInput.value.trim().toLowerCase();
        var reports = document.querySelectorAll('.report-item');
        var listItem = document.querySelectorAll('.list-group-item');

        console.log(reports);

        reports.forEach(function (report) {
            var reportName = report.querySelector('.reportName').textContent.trim().toLowerCase();
            var connName = report.querySelector('.connName').textContent.trim().toLowerCase();

            if (reportName.includes(searchValue) || connName.includes(searchValue)) {
                report.style.display = '';
            } else {
                report.style.display = 'none';
            }
        });
    }

    document.querySelector('.searchBox input[type="search"]').addEventListener('input', filterReportsBySearch);

</script>

